<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Prime Project</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addins/prime">
                <span class="oi oi-plus" aria-hidden="true"></span> Prime Number
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addins/algo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Algo Considering
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void Change(object value, string name, string action)
    {
        // console.Log($"{name} item with index {value} {action}");
    }
}
